SPRING_PROFILES_ACTIVE=aws-demo
SERVER_PORT=8080
APP_SEARCH_INDEXING_ENABLED=false
DB_APP_PASSWORD=replace-with-secret
DB_ROOT_PASSWORD=replace-with-different-secret
UID=1000
GID=1000

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/vueshines
SPRING_DATASOURCE_USERNAME=vueshines

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

MYSQL_DATABASE=vueshines
MYSQL_USER=vueshines
